{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Dios no esta Muetto</h1>
        <p>
            Dios no sta muerto dice su palabra.....
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/dios-no-esta-muerto.png" class="img-thumbnail">
    </div>

</div>


{{> footer}}